.cont {   
   background-color: #ddd;
   height: 100%;
   width: 100%; 
}

.cont > div:not(:nth-child(1)) {
    width: 31.3vw;
    height: 36vw;
    float: left;
    text-align: center;
    margin: 1%;
    background-color: #eee;
    border-radius: 10%;
}

.cont > div > div {
    width: 25vw;
    height: 25vw;
    margin: 0 auto;
}

.cont > div > div > a{
    display: block;
    width: 25vw;
    height: 25vw;
    margin: 0 auto;
}

p {
    font-size: 1rem;
}

.seeMore {
    display: flex;
    justify-content: center;
    align-items: center;
}
