.headerCont {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #aaa;
}

.appIcon {
    position: absolute;
    top: 3px;
    width: 34px;
    height: 34px;
    background: url('./Components/includes/musseum.png') center no-repeat;
    background-size: contain;
}

.profile {
    background: url('https://firebasestorage.googleapis.com/v0/b/museum-island.appspot.com/o/profile%2Fprofile.png?alt=media&token=db26fdf6-0d19-42fa-8716-07533ee831fe') center no-repeat;
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 3px;
    width: 34px;
    height: 34px;
}

button {
    position: absolute;
    right: 3px;
    top: 3px;
}

.headerCont2 {
    width: 100%;
    height: 30px;
    background-color: #aaa;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    margin: 0 2px 0 0 !important;
    float: right;
}

a:nth-child(2), a:nth-child(3), a:nth-child(4) {
    float: left;
    margin-right: 5px;
    padding: 2px;
    border-right: 1px black solid;
}